* {
  margin: 0;
  padding: 0;
}

#canvas {
  position: absolute;
  z-index: 0;
}

#settingsModal {
  position: absolute;
  max-width: 80vw;
  max-height: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border: black 1px solid;
  margin: 20px;
  padding: 12px;
  z-index: 2;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.settingsModalHeader {
  margin-bottom: 12px;
}

.settingsModalFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.customBpmPreset {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border: black 1px solid;
  border-radius: 8px;
}

.deleteCustomBpmPreset {
  background-color: red;
}

.presetSelect {
  max-width: 80%;
  padding: 8px;
  cursor: pointer;
}

.customBpmPresetPreset {
  max-width: 20%;
  padding: 8px;
  cursor: pointer;
}

#presetBpmControlLabel {
  cursor: pointer;
}

#presetBpmControl {
  cursor: pointer;
}

#addCustomBpmPreset {
  padding: 4px;
  background-color: #f0f0f0;
  border: black 1px solid;
  border-radius: 20%;
  cursor: pointer;
}

.customBpmPreset {
  padding: 4px;
}

.deleteCustomBpmPreset {
  padding: 4px;
  background-color: #f0f0f0;
  border: black 1px solid;
  border-radius: 20%;
  cursor: pointer;
}

.settingsModalBodyContentItem {
  margin-bottom: 12px;
}

.settingsFooterButton {
  padding: 8px;
  border: black 1px solid;
  border-radius: 20%;
  cursor: pointer;
}

.settings {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  padding: 4px;
  margin: 12px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20%;
  border: black 1px solid;
  cursor: pointer;
}

#bpmDisplay {
  position: absolute;
  padding: 4px;
  margin: 12px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8%;
  border: black 1px solid;
}

#presetDisplay {
  position: absolute;
  right: 0;
  padding: 4px;
  margin: 12px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8%;
  border: black 1px solid;
}

#openFullscreenIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 4px;
  margin: 12px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20%;
  cursor: pointer;
  border: black 1px solid;
}

.hidden {
  display: none;
}
